body {
    background-color: gainsboro;
    width: 100%;
}

#encabezado {
    text-align: justify;
    background-color: white;
    padding: 30px;
    margin: 25px 37% 0px 37%;
    font-family: 'Montserrat';
    color: gray;
    border-radius: 10px;
}

#encabezado img {
    border: solid 8px gainsboro;
    border-radius: 100%;
    width: 100px;
    margin: auto;
    display: block;
}

button {
    background-color: #E95158;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 6px;
    display: block;
    margin: auto;
}

#contacto {
    background-color: white;
    margin: 10px 37% 0px 37%;
    padding: 30px;
    color: gray;
    cursor: pointer;
    font-family: 'Montserrat';
    border-radius: 10px;
}
#contacto ul li{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin-left: 27px;
}

#content {
    text-align: center;
    background-color: white;
    margin: 10px 37% 0px 37%;
    padding: 30px;
    font-family: 'Montserrat';
    color: gray;
    height: 760px;
    border-radius: 10px;
}

#content img {
    float: left;
    margin: 5px;
    width: 100px;
    size: 50px;
    padding-right: 20px;
    padding-top: 2px;
}

h1, h2 {
    text-align: center;
    font-family: 'Montserrat';
    color: gray;
}

#content p {
    float: right;
    text-align: justify;
    font-family: 'Montserrat';
    color: gray;
    display: block;
    margin: auto;
    padding: 15px;
}